.snackbar{
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(231, 40, 40);
    color:rgb(241, 228, 228);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left:50%;
    bottom: 30px;
}